{% extends 'main/base.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block page_header %}
    <h1>Главная</h1>
{% endblock %}

{% block content %}
    <div class="about">
        <h3>Мы представляем вашему вниманию курс по программированию "Практический Python"</h3>
        <ul>
            <li>Наш курс позволит вам изучить основы популярного и востребованного языка программирования.</li>
            <li>Вы научитесь использовать Python для решения самых разных практических задач.</li>
            <li>По итогу прохождения курса вы
                пополните свое портфолио тремя практическими проектами и получите <a href="{% url 'main:certificate' %}">
                    сертификат о прохождении курса</a>.</li>
        </ul>
    </div>

    <div class="main_moments">
        <div class="swiper mySwiper">
            <h3>Основное</h3>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <figure>
                        <h2>Алексеев Иван Иванович - автор и преподаватель курса</h2>
                        <img src="{% static 'main/images/teacher/Ivan_Alekseev_1.png' %}" alt="Certificate">
                        <figcaption>
                            <a href="{% url 'main:teacher' %}" class="btn btn-lg btn-success" style="margin-top: 10px">Читать подробнее</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <h2>Сертификат по итогу прохождения курса</h2>
                        <img src="{% static 'main/images/certificate/certificate.jpg' %}" width="200px" height="291px" alt="Certificate">
                        <figcaption>
                            <a href="{% url 'main:certificate' %}" class="btn btn-lg btn-success" style="margin-top: 10px">Читать подробнее</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <h2>Наш курс на Youtube</h2>
                        <iframe width="450" height="291" src="https://www.youtube.com/embed/videoseries?si=D8jznaTDposEGtNU&amp;list=PLn6kz1xByugtaOa2CeA2IQldXmlpWOROj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <figcaption>
                            <a href="{% url 'main:certificate' %}" class="btn btn-lg btn-success" style="margin-top: 10px">Открыть</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <h2>Что включает в себя курс?</h2>
                        <div style="text-align: left; padding-left: 10px">
                            <h4 style="padding-top: 15px; font-size: 14pt">4 практических модуля:</h4>
                            <ul style="padding: 0; font-size: 12pt">
                                <li style="padding-bottom: 7px;">Модуль 1. Основы Python:<br>
                                Изучение основ языка программирования Python</li>
                                <li style="padding-bottom: 7px;">Модуль 2. Основы Django:<br>
                                Разработка сайта с использованием фрэймворка Django</li>
                                <li style="padding-bottom: 7px;">Модуль 3. Разработка чат-ботов:<br>
                                Разработка Telegram чат-бота на PytelegramApi</li>
                                <li>Модуль 4. Разработка 2D-игры:<br>
                                Разработка 2D-игры на PyGame</li>
                            </ul>
                        </div>
                        <figcaption>
                            <a href="{% url 'main:modules' %}" class="btn btn-lg btn-success" style="margin-top: 10px">Читать подробнее</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div class="course_content">
        <h3>Структура курса</h3>
        <p>Наш курс имеет модульную структуру и разделен на 4 практических модуля, которые будут открываться по
        ходу прохождения курса.<br><br>В каждом модуле вы будете шаг за шагом проходить выстроенные в логической
        последовательности темы, взаимосвязанные между собой. По итогу прохождения каждой темы вам
        будет предложено выполнить домашнее задание, состоящее из ряда практических задач.<br><br>Каждому участнику
        на протяжении прохождения курса будет дана обратная связь по решению домашних задач и возникающим вопросам,
        которые можно задавать в группах в
        <a href="https://t.me/+HXHMJPBWdUcyZDFi" target="_blank">Telegram</a> или
        <a href="https://vk.me/join/71b1yYYGbyuuOQGdBw8ec6YXaqESLqyHevI=" target="_blank">VK</a>. Также в
        течение прохождения каждого модуля будут организованы несколько онлайн встреч на платформе
        <a href="https://discord.gg/EUTJSmF4" target="_blank">Discord</a>, даты которых вы сможете найти в разделе
        <a href="{% url 'main:schedule' %}">Расписание</a>.<br><br>Теорию и разбор задач по каждой теме вы сможете найти в
        текстовом виде на нашем сайте, а также в формате видео на
            <a href="https://youtube.com/playlist?list=PLn6kz1xByugtaOa2CeA2IQldXmlpWOROj&si=eRz9tUxn9I8GxF3I"
               target="_blank">Youtube</a></p>
    </div>

    <div class="teacher">
        <h3>Автор и преподаватель курса</h3>
        <img src="{% static 'main/images/teacher/Ivan_Alekseev_1.png' %}" alt="teacher">
        <div class="about_teacher">
            <h4 style="font-size: 16pt"><a href="{% url 'main:teacher' %}">Алексеев Иван Иванович</a></h4>
            <ul>
                <li>Студент Радиофизического факультета ННГУ им. Лобачевского, направления Информационная безопасность
                телекоммуникационных систем. Преподаватель программирования в <a href="https://greensailnn.ru" target="_blank">
                ДЮЭЦ "Зеленый парус".</a></li>
                <li>Занимается программированием с 10 класса.</li>
                <li>Проходил курсы на различных платформах,
                    факультатив по программированию на JavaScript в рамках обучения в университете.</li>
                <li>Занимается разработкой чат-ботов
                на различных платформах, разработкой сайтов и интерфейсов, анализом данных</li>
                <li>Имеет опыт программирования на языках C, C++, Java, JavaScript, Python. Основной язык
                    программирования  - Python</li>
                <li>Имеет опыт построения и администрирования баз данных MySQL, PostgreSQL, SQlite3</li>
                <li>Ссылка на GitHub: <a href="https://www.youtube.com/embed/videoseries?si=D8jznaTDposEGtNU&amp;list=PLn6kz1xByugtaOa2CeA2IQldXmlpWOROj" target="_blank">IvanA-19</a></li>
            </ul>
        </div>
    </div>

    <div class="for_users">
        <h3>Кому подойдет данный курс?</h3>
        <p>Данный курс рассчитан на потенциальных обучающихся в возрасте от 14 до 18 лет. Курс подойдет, как для новичков,
        так и для тех, у кого уже имеется опыт в программировании и они желают повысить свой уровень, поучаствовать в
        разработке серьезных практических проектов. В рамках курса, благодаря общению между собой, обучающиеся также смогут
        повысить уровень "мягких навыков" - soft skills, получить опыт работы в команде, приобрести ценные знания.</p>
    </div>

    <div class="contacts">
        <h3>Контактная информация</h3>
        <ul>
            <li>Социальные сети и мессенджеры:</li>
            <li>VK: <a href="https://vk.com/alekseev_i260303" target="_blank">Иван Алексеев</a></li>
            <li>Telegram: <a href="https://t.me/Vanyok77797" target="_blank">@Vanyok77797</a></li>
            <li>Discord: <a href="https://vk.com/away.php?utf=1&to=https%3A%2F%2Fdiscord.gg%2FuF8JVREF">v_a_n_y_o_k77797</a></li>
            <li>Электронная почта: alekseev.i260303@gmail.com</li>
        </ul>
        <p>Обращаться по вопросам, связанным с сайтом, личным кабинетом</p>
    </div>

    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'slider/css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'slider/css/slider.css' %}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'slider/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'slider/js/slider.js' %}"></script>


{% endblock %}