{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{module}}{% endblock %}

{% block page_header %}
    <h1>{{module}}</h1>
{% endblock %}


{% block content %}
    <ul class="topics">
        {% for topic in topics %}
            <li>
                <div class="topic">
                    <h4>{{topic}}</h4>
                    {% if topic.description|length > 250 %}
                        <p id="topic_{{topic.id}}_text">{{topic.description|slice:250}}...</p>
                    <button class="btn" style="background-color: #8A2BE2; color: white;"
                                    onmouseover="this.style.backgroundColor='#9400D3'"
                                    onmouseout="this.style.backgroundColor='#8A2BE2'"
                                    onclick="full_text(`{{topic.description}}`, `{{topic.id}}`)"
                        id="show_button_{{topic.id}}">Читать полностью</button>
                        <div id="hide_{{topic.id}}" style="margin-bottom: 10px;"></div>
                        <a href="{% url 'main:topic' topic.topic_slug %}" class="btn btn-success">Перейти к теме</a>
                    {% else %}
                        <p>{{topic.description|linebreaks}}</p>
                        <a href="{% url 'main:topic' topic.topic_slug %}" class="btn btn-success">Перейти к теме</a>
                    {% endif %}
                </div>
            </li>
            {% empty %}
                <li>
                    <div class="topic">
                        <h4>Первый урок появится 07.03.2024.</h4>
                    </div>
                </li>
        {% endfor %}
    </ul>

    <link rel="stylesheet" href="{% static 'main/css/module.css' %}">
    <script src="{% static 'main/js/topic.js' %}"></script>

{% endblock %}