{% extends 'main/base.html' %}

{% load static %}

{% block title %}Преподаватель{% endblock %}

{% block page_header %}
    <h1>Преподаватель</h1>
{% endblock %}

{% block content %}
    <div class="teacher">
        <h3>Автор и преподаватель курса</h3>
        <img src="{% static 'main/images/teacher/Ivan_Alekseev_1.png' %}" alt="teacher">
        <div class="about_teacher">
            <h4 style="font-size: 16pt"><a href="{% url 'main:teacher' %}">Алексеев Иван Иванович</a></h4>
            <ul>
                <li>Студент Радиофизического факультета ННГУ им. Лобачевского, направления Информационная безопасность
                телекоммуникационных систем. Преподаватель программирования в <a href="https://greensailnn.ru" target="_blank">
                ДЮЭЦ "Зеленый парус".</a></li>
                <li>Занимается программированием с 10 класса.</li>
                <li>Проходил курсы на различных платформах,
                    факультатив по программированию на JavaScript в рамках обучения в университете.</li>
                <li>Занимается разработкой чат-ботов
                на различных платформах, разработкой сайтов и интерфейсов, анализом данных</li>
                <li>Профессиональные навыки: умение работы с компьютером, опыт работы в операционных системах Linux и Windows,
                    уверенный пользователь текстовых, графических,
                    табличных редакторов(процессоров), редакторов презентаций. Имеется опыт разработки приложений на
                    языках программирования Python, C, C++, JavaScript, опыт верстки интерфейса приложений и сайтов
                    с использованием языков гипертекстовой разметки HTML, XML, стилей CSS. Опыт работы с базами данных
                    PostgreSQL, MySQL, Sqlite3.</li>
                <li>Дополнительная информация:
                    <ul>
                        <li>Разрабатывал чат-бота на платформе VK для школы финансовой грамотности</li>
                        <li>Разрабатывал телеграмм-бота на платформе Telegram для <a href="https://greensailnn.ru" target="_blank">
                ДЮЭЦ "Зеленый парус".</a></li>
                        <li>Участие в конкурсах международного уровня по биологии и экологии, поспособствовавшее развитию
                            критического мышления и soft skills. Участие в конкурсах с кейсовыми заданиями,
                            поспособствовавшее развитию умения быстро искать решение в нестандартной ситуации.</li>
                    </ul>
                </li>
                <li>Ссылка на GitHub: <a href="https://www.youtube.com/embed/videoseries?si=D8jznaTDposEGtNU&amp;list=PLn6kz1xByugtaOa2CeA2IQldXmlpWOROj" target="_blank">IvanA-19</a></li>
            </ul>
        </div>
    </div>

    <link rel="stylesheet" href="{% static 'main/css/teacher.css' %}">
{% endblock %}